$color: #f04752;
$color-0: #000;
$color-3: #333;
$color-6: #666;
$color-9: #999;
$color-d: #ddd;
$color-e: #eee;
$color-f: #fff;
$color-f5: #f5f5f5;
$color-orange: #FF801A;

// 字体颜色
$text-color-0: $color-0;
$text-color-3: $color-3;
$text-color-6: $color-6;
$text-color-9: $color-9;
$text-color-f: $color-f;
$text-color: $color;
$text-color-orange: $color-orange;

// 背景及边框颜色
$bgColor: $color;
$bgColor-0: $color-0;
$bgColor-f: $color-f;
$bgColor-f5: $color-f5;

$border-color: $color;
$border-color-0: $color-0;
$border-color-d: $color-d;
$border-color-e: $color-e;
$border-color-f: $color-f;

// 字体大小
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-44: 44px;